#ignore mytest folder
.to_be_ignored

#ignore objects folder, executable file and output file
obj/
exe
out/

#ignore docs folder (temporary)
docs/

#ignoring the test folder already uploaded
tests/

#ignore valgrind core files
vgcore.*


